{% extends 'web/base.html' %}

{% block title %}
Customer Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow border-0 mt-5">

            <div class="card-header bg-dark text-white text-center">

                <h3>

                    Customer Login

                </h3>

            </div>

            <div class="card-body">

                <!-- LOGIN FORM -->
                <form method="POST">

                    <!-- EMAIL -->
                    <div class="mb-3">

                        <label class="form-label">

                            Email

                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter Email"
                            required
                        >

                    </div>


                    <!-- PASSWORD -->
                    <div class="mb-3">

                        <label class="form-label">

                            Password

                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter Password"
                            required
                        >

                    </div>


                    <!-- BUTTON -->
                    <button
                        type="submit"
                        class="btn btn-dark w-100"
                    >

                        <i class="fa fa-sign-in-alt"></i>

                        Login

                    </button>

                </form>

            </div>

            <div class="card-footer text-center">

                Don't have an account?

                <a href="{{ url_for('web.register') }}">

                    Register Here

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}