{% extends 'admin/base.html' %}

{% block title %}
Orders
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <h2>
        All Orders 📦
    </h2>

</div>

<div class="card shadow">

    <div class="card-body">

        <table class="table table-bordered">

            <thead class="table-dark">

                <tr>

                    <th>ID</th>
                    <th>Customer</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>

                </tr>

            </thead>

            <tbody>

                {% for order in orders %}

                <tr>

                    <td>

                        #{{ order.id }}

                    </td>

                    <td>

                        {{ order.customer.name }}

                    </td>

                    <td>

                        ₹ {{ order.total_amount }}

                    </td>

                    <td>

                        {% if order.status == 'Pending' %}

                        <span class="badge bg-warning">

                            {{ order.status }}

                        </span>

                        {% elif order.status == 'Confirmed' %}

                        <span class="badge bg-info">

                            {{ order.status }}

                        </span>

                        {% elif order.status == 'Shipped' %}

                        <span class="badge bg-primary">

                            {{ order.status }}

                        </span>

                        {% elif order.status == 'Delivered' %}

                        <span class="badge bg-success">

                            {{ order.status }}

                        </span>

                        {% else %}

                        <span class="badge bg-danger">

                            {{ order.status }}

                        </span>

                        {% endif %}

                    </td>

                    <td>

                        {{ order.created_at.strftime('%d-%m-%Y') }}

                    </td>

                    <td>

                        <a
                            href="{{ url_for('admin_order_details', id=order.id) }}"
                            class="btn btn-primary btn-sm"
                        >
                            View
                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}